<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PAWS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/signup">Sign Up</a></li>
                <li><a href="#/login">Sign In</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/signout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>